name: threatcl pre-release

on:
  push:
    branches:
      - main
    tags-ignore:
      - "*"

permissions:
  contents: read

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  cleanup:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Delete old dev release assets
        uses: mknejp/delete-release-assets@v1
        with:
          token: ${{ github.token }}
          tag: dev
          fail-if-no-assets: false
          assets: |
            threatcl-*

  build-dev-linux:
    permissions:
      contents: write
    needs: cleanup
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux]
        goarch: [amd64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.25.1'
      - name: Set BUILD_TIME
        run: echo BUILD_TIME=$(date -u +%Y%m%d-%H%M) >> ${GITHUB_ENV}
      - name: Go build
        run: |
          CGO_ENABLED=1 GOARCH=${{ matrix.goarch }} GOOS=${{ matrix.goos }} go build -o threatcl ./cmd/threatcl
          tar -zcvf threatcl-${{ env.BUILD_TIME }}-${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz threatcl
      - name: Upload Linux Package
        uses: actions/upload-artifact@v4
        with:
          name: linux-pkg-${{ matrix.goarch }}
          path: threatcl-${{ env.BUILD_TIME }}-${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz

  build-macos-dev:
    permissions:
      contents: write
    needs: cleanup
    runs-on: macos-latest
    strategy:
      matrix:
        goos: [darwin]
        goarch: [amd64, arm64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.25.1'
      - name: Set BUILD_TIME
        run: echo BUILD_TIME=$(date -u +%Y%m%d-%H%M) >> ${GITHUB_ENV}
      - name: Go build
        run: |
          CGO_ENABLED=1 GOARCH=${{ matrix.goarch }} GOOS=${{ matrix.goos }} go build -o threatcl ./cmd/threatcl
          tar -zcvf threatcl-${{ env.BUILD_TIME }}-${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz threatcl
      - name: Upload OSX Package
        uses: actions/upload-artifact@v4
        with:
          name: osx-pkg-${{ matrix.goarch }}
          path: threatcl-${{ env.BUILD_TIME }}-${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz


  build-windows-dev:
    permissions:
      contents: write
    needs: cleanup
    runs-on: windows-latest
    strategy:
      matrix:
        goos: [windows]
        goarch: [amd64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.25.1'
      - name: Set BUILD_TIME
        shell: bash
        run: echo BUILD_TIME=$(date -u +%Y%m%d-%H%M) >> ${GITHUB_ENV}
      - name: Go build
        shell: bash
        run: |
          CGO_ENABLED=1 GOARCH=${{ matrix.goarch }} GOOS=${{ matrix.goos }} go build -o threatcl.exe ./cmd/threatcl
      - name: Package
        shell: bash
        run: |
          7z a threatcl-${{ env.BUILD_TIME }}-${{ matrix.goos }}-${{ matrix.goarch }}.zip threatcl.exe
      - name: Upload Windows Package
        uses: actions/upload-artifact@v4
        with:
          name: windows-pkg-${{ matrix.goarch }}
          path: threatcl-${{ env.BUILD_TIME }}-${{ matrix.goos }}-${{ matrix.goarch }}.zip

  pre-release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: [build-macos-dev, build-dev-linux, build-windows-dev]
    steps:
      - name: Download linux packages
        uses: actions/download-artifact@v4
        with:
          name: linux-pkg-amd64
      - name: Download osx arm64
        uses: actions/download-artifact@v4
        with:
          name: osx-pkg-arm64
      - name: Download osx amd64
        uses: actions/download-artifact@v4
        with:
          name: osx-pkg-amd64
      - name: Download windows amd64
        uses: actions/download-artifact@v4
        with:
          name: windows-pkg-amd64
      # - name: Automatic pre-release
      #   uses: "marvinpinto/action-automatic-releases@latest"
      #   with:
      #     repo_token: "${{ secrets.GITHUB_TOKEN }}"
      #     automatic_release_tag: "dev"
      #     prerelease: true
      #     title: "Development Build"
      #     files: |
      #       threatcl*.tar.gz
      - name: Automatic pre-release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: dev
          name: "Development Build"
          prerelease: true
          files: |
            threatcl*.tar.gz
            threatcl*.zip
      - name: Remove artifacts
        uses: geekyeggo/delete-artifact@v5
        with:
          name: |
            linux-pkg-amd64
            osx-pkg-arm64
            osx-pkg-amd64
            windows-pkg-amd64

  pre-build-image-test:
    runs-on: ubuntu-latest
    needs: [pre-release]
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=false

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
